<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Library App | Final</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    
    <body>
        <!-- Form View -->
        <div class="text-center" style="padding:50px 0">
        	<div class="logo">NEW BOOK</div>
        	<!-- Main Form -->
        	<div class="login-form-1">
        		<form id="register-form" class="text-left">
        			<div class="login-form-main-message"></div>
        			<div class="main-login-form">
        				<div class="login-group">
        					<div class="form-group">
        						<label for="reg_username" class="sr-only">Title</label>
        						<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="TITLE">
        					</div>
        					
        					<div class="form-group">
        						<label for="reg_fullname" class="sr-only">Author</label>
        						<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="AUTHOR">
        					</div>
        					
        					<div class="form-group">
        						<label for="reg_number" class="sr-only">Number</label>
        						<input type="number" class="form-control" id="reg_number" name="reg_number" placeholder="RATING(0 TO 5)">
        					</div>
        				</div>
        				<br />
        				<button type="submit" class="btn btn-default center-block">ADD</button>
        			</div>
        		</form>
        	</div>
        	<!-- end:Main Form -->
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>

